In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("C:/Users/dhxog/Desktop/ESC_summer/big_contest/pitcher.csv")

In [4]:
df

,year,month,T_ID,VS_T_ID,TB_SC,P_ID,START_CK,RELIEF_CK,CG_CK,WLS,...,BB,IB,HP,KK,GD,WP,BK,ERR,R,ER
0,2016,4,LG,HH,B,60146,0,1,0,W,...,1,0,0,3,0,0,0,0,0,0
1,2016,4,LG,HH,B,61891,0,1,0,ND,...,1,0,0,1,0,0,0,0,0,0
2,2016,4,LG,HH,B,62146,0,1,0,ND,...,0,0,0,0,0,0,0,0,0,0
3,2016,4,LG,HH,B,62698,1,0,0,ND,...,1,0,0,4,1,0,0,0,4,4
4,2016,4,HH,LG,T,65764,0,1,0,L,...,1,0,0,1,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27799,2020,7,WO,SK,T,67313,1,0,0,ND,...,1,0,0,7,0,1,0,0,0,0
27800,2020,7,WO,SK,T,67391,0,1,0,ND,...,2,0,0,1,0,0,0,0,0,0
27801,2020,7,WO,SK,T,68341,0,1,0,L,...,3,0,0,2,0,1,0,0,4,4
27802,2020,7,WO,SK,T,69399,0,1,0,ND,...,0,0,0,0,0,0,0,0,0,0
27803,2020,7,SK,WO,B,75138,0,1,0,ND,...,0,0,0,0,0,0,0,0,0,0

In [5]:
columns = ['year', 'month', 'T_ID', 'P_ID']

In [6]:
df = pd.get_dummies(df, columns = ['VS_T_ID','TB_SC', 'WLS'])

In [7]:
df = df.groupby(columns).sum().reset_index(drop = False)

In [8]:
df

,year,month,T_ID,P_ID,START_CK,RELIEF_CK,CG_CK,HOLD,INN2,BF,...,VS_T_ID_SK,VS_T_ID_SS,VS_T_ID_WO,TB_SC_B,TB_SC_T,WLS_D,WLS_L,WLS_ND,WLS_S,WLS_W
0,2016,4,HH,60757,0,8,0,0,30,195,...,0,0,2,6,2,0,0,8,0,0
1,2016,4,HH,60764,1,1,0,0,2,48,...,0,0,0,1,1,0,1,1,0,0
2,2016,4,HH,60768,2,0,0,0,24,123,...,0,1,0,1,1,0,2,0,0,0
3,2016,4,HH,63791,0,10,0,0,32,181,...,0,0,2,5,5,0,0,10,0,0
4,2016,4,HH,65764,3,1,0,0,22,192,...,0,0,0,1,3,0,3,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5299,2020,7,WO,68341,0,9,0,3,24,152,...,2,2,0,5,4,0,2,7,0,0
5300,2020,7,WO,69343,3,0,0,0,60,293,...,0,1,0,2,1,0,0,1,0,2
5301,2020,7,WO,69360,1,0,0,0,2,24,...,0,0,0,1,0,0,0,1,0,0
5302,2020,7,WO,69399,0,2,0,0,10,70,...,1,1,0,1,1,0,0,2,0,0
5303,2020,7,WO,76430,0,7,0,1,19,96,...,1,1,0,3,4,0,0,6,0,1

In [9]:
df.to_csv("pitcher.csv", index = False)