# 빅콘테스트 퓨처스리그 : KBO 정규시즌 팀별 승률, 타율, 방어율 예측

2020.08.11 화요일

# Preprocessing

## 파생변수 하나의 데이터셋으로 합치기

In [1]:
import pandas as pd

### batter

In [2]:
data = pd.read_csv('../../data/batter_tidy.csv')
data

,year,month,T_ID,P_ID,PA,AB,RBI,RUN,HIT,H2,...,VS_T_ID_LG,VS_T_ID_LT,VS_T_ID_NC,VS_T_ID_OB,VS_T_ID_SK,VS_T_ID_SS,VS_T_ID_WO,BAT_ORDER,HOME,AWAY
0,2016,4,HH,60404,12,12,1,0,2,0,...,2,0,2,1,0,0,2,9,3,4
1,2016,4,HH,60667,10,9,2,1,3,1,...,2,3,0,3,0,0,0,8,4,4
2,2016,4,HH,60757,0,0,0,0,0,0,...,0,0,0,1,0,0,0,9,1,0
3,2016,4,HH,60805,1,0,0,1,0,0,...,0,0,0,0,0,2,0,2,2,0
4,2016,4,HH,61700,36,31,2,6,6,1,...,3,3,3,3,0,0,3,8,9,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6929,2020,7,WO,69306,5,5,0,2,1,1,...,0,0,1,1,0,2,0,1,4,2
6930,2020,7,WO,75125,67,57,15,11,15,1,...,0,0,3,2,3,3,0,4,8,9
6931,2020,7,WO,78168,78,68,4,15,20,3,...,0,0,3,2,3,3,0,1,8,9
6932,2020,7,WO,79365,43,41,5,4,10,3,...,0,0,2,2,0,2,0,5,6,5
6933,2020,7,WO,79456,52,47,3,5,17,1,...,0,0,2,2,2,3,0,5,7,8

In [3]:
df1 = pd.read_csv('../../data/batter_tidy_볼넷당삼진_도루성공율.csv', index_col = 0)
df1

,year,month,T_ID,P_ID,PA,AB,RBI,RUN,HIT,H2,...,VS_T_ID_NC,VS_T_ID_OB,VS_T_ID_SK,VS_T_ID_SS,VS_T_ID_WO,BAT_ORDER,HOME,AWAY,KBB,SB_rate
1,2016,4,HH,60404,12,12,1,0,2,0,...,2,1,0,0,2,9,3,4,0.000000,0.000000
2,2016,4,HH,60667,10,9,2,1,3,1,...,0,3,0,0,0,8,4,4,5.000000,0.000000
3,2016,4,HH,60757,0,0,0,0,0,0,...,0,1,0,0,0,9,1,0,0.000000,0.000000
4,2016,4,HH,60805,1,0,0,1,0,0,...,0,0,0,2,0,2,2,0,0.000000,0.000000
5,2016,4,HH,61700,36,31,2,6,6,1,...,3,3,0,0,3,8,9,7,1.750000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6930,2020,7,WO,69306,5,5,0,2,1,1,...,1,1,0,2,0,1,4,2,0.000000,0.000000
6931,2020,7,WO,75125,67,57,15,11,15,1,...,3,2,3,3,0,4,8,9,1.777778,0.000000
6932,2020,7,WO,78168,78,68,4,15,20,3,...,3,2,3,3,0,1,8,9,1.222222,0.833333
6933,2020,7,WO,79365,43,41,5,4,10,3,...,2,2,0,2,0,5,6,5,8.000000,0.000000
6934,2020,7,WO,79456,52,47,3,5,17,1,...,2,2,2,3,0,5,7,8,1.000000,0.000000

In [4]:
data['KBB'] = df1['KBB']
data['SB_rate'] = df1['SB_rate']
data

,year,month,T_ID,P_ID,PA,AB,RBI,RUN,HIT,H2,...,VS_T_ID_NC,VS_T_ID_OB,VS_T_ID_SK,VS_T_ID_SS,VS_T_ID_WO,BAT_ORDER,HOME,AWAY,KBB,SB_rate
0,2016,4,HH,60404,12,12,1,0,2,0,...,2,1,0,0,2,9,3,4,NaN,NaN
1,2016,4,HH,60667,10,9,2,1,3,1,...,0,3,0,0,0,8,4,4,0.000000,0.000000
2,2016,4,HH,60757,0,0,0,0,0,0,...,0,1,0,0,0,9,1,0,5.000000,0.000000
3,2016,4,HH,60805,1,0,0,1,0,0,...,0,0,0,2,0,2,2,0,0.000000,0.000000
4,2016,4,HH,61700,36,31,2,6,6,1,...,3,3,0,0,3,8,9,7,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6929,2020,7,WO,69306,5,5,0,2,1,1,...,1,1,0,2,0,1,4,2,0.000000,0.000000
6930,2020,7,WO,75125,67,57,15,11,15,1,...,3,2,3,3,0,4,8,9,0.000000,0.000000
6931,2020,7,WO,78168,78,68,4,15,20,3,...,3,2,3,3,0,1,8,9,1.777778,0.000000
6932,2020,7,WO,79365,43,41,5,4,10,3,...,2,2,0,2,0,5,6,5,1.222222,0.833333
6933,2020,7,WO,79456,52,47,3,5,17,1,...,2,2,2,3,0,5,7,8,8.000000,0.000000

In [5]:
df2 = pd.read_csv('../../data/batter_tidy_AVG_OBP_SLG_OPS.csv', index_col = 0)
df2

,year,month,T_ID,P_ID,PA,AB,RBI,RUN,HIT,H2,...,VS_T_ID_SK,VS_T_ID_SS,VS_T_ID_WO,BAT_ORDER,HOME,AWAY,AVG,OBP,SLG,OPS
0,2016,4,HH,60404,12,12,1,0,2,0,...,0,0,2,9,3,4,0.166667,0.166667,0.166667,0.333333
1,2016,4,HH,60667,10,9,2,1,3,1,...,0,0,0,8,4,4,0.333333,0.400000,0.444444,0.844444
2,2016,4,HH,60757,0,0,0,0,0,0,...,0,0,0,9,1,0,0.000000,0.000000,0.000000,0.000000
3,2016,4,HH,60805,1,0,0,1,0,0,...,0,2,0,2,2,0,0.000000,1.000000,0.000000,1.000000
4,2016,4,HH,61700,36,31,2,6,6,1,...,0,0,3,8,9,7,0.193548,0.305556,0.322581,0.628136
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6929,2020,7,WO,69306,5,5,0,2,1,1,...,0,2,0,1,4,2,0.200000,0.200000,0.400000,0.600000
6930,2020,7,WO,75125,67,57,15,11,15,1,...,3,3,0,4,8,9,0.263158,0.358209,0.596491,0.954700
6931,2020,7,WO,78168,78,68,4,15,20,3,...,3,3,0,1,8,9,0.294118,0.371795,0.441176,0.812971
6932,2020,7,WO,79365,43,41,5,4,10,3,...,0,2,0,5,6,5,0.243902,0.279070,0.390244,0.669314
6933,2020,7,WO,79456,52,47,3,5,17,1,...,2,3,0,5,7,8,0.361702,0.411765,0.382979,0.794743

In [6]:
data['AVG'] = df2['AVG']
data['OPB'] = df2['OBP']
data['SLG'] = df2['SLG']
data['OPS'] = df2['OPS']
data

,year,month,T_ID,P_ID,PA,AB,RBI,RUN,HIT,H2,...,VS_T_ID_WO,BAT_ORDER,HOME,AWAY,KBB,SB_rate,AVG,OPB,SLG,OPS
0,2016,4,HH,60404,12,12,1,0,2,0,...,2,9,3,4,NaN,NaN,0.166667,0.166667,0.166667,0.333333
1,2016,4,HH,60667,10,9,2,1,3,1,...,0,8,4,4,0.000000,0.000000,0.333333,0.400000,0.444444,0.844444
2,2016,4,HH,60757,0,0,0,0,0,0,...,0,9,1,0,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,2016,4,HH,60805,1,0,0,1,0,0,...,0,2,2,0,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
4,2016,4,HH,61700,36,31,2,6,6,1,...,3,8,9,7,0.000000,0.000000,0.193548,0.305556,0.322581,0.628136
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6929,2020,7,WO,69306,5,5,0,2,1,1,...,0,1,4,2,0.000000,0.000000,0.200000,0.200000,0.400000,0.600000
6930,2020,7,WO,75125,67,57,15,11,15,1,...,0,4,8,9,0.000000,0.000000,0.263158,0.358209,0.596491,0.954700
6931,2020,7,WO,78168,78,68,4,15,20,3,...,0,1,8,9,1.777778,0.000000,0.294118,0.371795,0.441176,0.812971
6932,2020,7,WO,79365,43,41,5,4,10,3,...,0,5,6,5,1.222222,0.833333,0.243902,0.279070,0.390244,0.669314
6933,2020,7,WO,79456,52,47,3,5,17,1,...,0,5,7,8,8.000000,0.000000,0.361702,0.411765,0.382979,0.794743

In [7]:
df3 = pd.read_csv('../../data/batter_tidy_XR.csv', index_col = 0)
df3

,year,month,T_ID,P_ID,PA,AB,RBI,RUN,HIT,H2,...,VS_T_ID_LT,VS_T_ID_NC,VS_T_ID_OB,VS_T_ID_SK,VS_T_ID_SS,VS_T_ID_WO,BAT_ORDER,HOME,AWAY,XR
0,2016,4,HH,60404,12,12,1,0,2,0,...,0,2,1,0,0,2,9,3,4,0.076
1,2016,4,HH,60667,10,9,2,1,3,1,...,3,0,3,0,0,0,8,4,4,1.020
2,2016,4,HH,60757,0,0,0,0,0,0,...,0,0,1,0,0,0,9,1,0,0.000
3,2016,4,HH,60805,1,0,0,1,0,0,...,0,0,0,0,2,0,2,2,0,0.340
4,2016,4,HH,61700,36,31,2,6,6,1,...,3,3,3,0,0,3,8,9,7,2.444
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6929,2020,7,WO,69306,5,5,0,2,1,1,...,0,1,1,0,2,0,1,4,2,0.344
6930,2020,7,WO,75125,67,57,15,11,15,1,...,0,3,2,3,3,0,4,8,9,11.212
6931,2020,7,WO,78168,78,68,4,15,20,3,...,0,3,2,3,3,0,1,8,9,11.812
6932,2020,7,WO,79365,43,41,5,4,10,3,...,0,2,2,0,2,0,5,6,5,4.056
6933,2020,7,WO,79456,52,47,3,5,17,1,...,0,2,2,2,3,0,5,7,8,7.026

In [8]:
data['XR'] = df3['XR']
data

,year,month,T_ID,P_ID,PA,AB,RBI,RUN,HIT,H2,...,BAT_ORDER,HOME,AWAY,KBB,SB_rate,AVG,OPB,SLG,OPS,XR
0,2016,4,HH,60404,12,12,1,0,2,0,...,9,3,4,NaN,NaN,0.166667,0.166667,0.166667,0.333333,0.076
1,2016,4,HH,60667,10,9,2,1,3,1,...,8,4,4,0.000000,0.000000,0.333333,0.400000,0.444444,0.844444,1.020
2,2016,4,HH,60757,0,0,0,0,0,0,...,9,1,0,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000
3,2016,4,HH,60805,1,0,0,1,0,0,...,2,2,0,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.340
4,2016,4,HH,61700,36,31,2,6,6,1,...,8,9,7,0.000000,0.000000,0.193548,0.305556,0.322581,0.628136,2.444
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6929,2020,7,WO,69306,5,5,0,2,1,1,...,1,4,2,0.000000,0.000000,0.200000,0.200000,0.400000,0.600000,0.344
6930,2020,7,WO,75125,67,57,15,11,15,1,...,4,8,9,0.000000,0.000000,0.263158,0.358209,0.596491,0.954700,11.212
6931,2020,7,WO,78168,78,68,4,15,20,3,...,1,8,9,1.777778,0.000000,0.294118,0.371795,0.441176,0.812971,11.812
6932,2020,7,WO,79365,43,41,5,4,10,3,...,5,6,5,1.222222,0.833333,0.243902,0.279070,0.390244,0.669314,4.056
6933,2020,7,WO,79456,52,47,3,5,17,1,...,5,7,8,8.000000,0.000000,0.361702,0.411765,0.382979,0.794743,7.026

In [9]:
data.to_csv('../../data/batter_all.csv')

### pitcher

In [10]:
data = pd.read_csv('../../data/pitcher.csv')
data

,year,month,T_ID,P_ID,START_CK,RELIEF_CK,CG_CK,HOLD,INN2,BF,...,VS_T_ID_SK,VS_T_ID_SS,VS_T_ID_WO,TB_SC_B,TB_SC_T,WLS_D,WLS_L,WLS_ND,WLS_S,WLS_W
0,2016,4,HH,60757,0,8,0,0,30,195,...,0,0,2,6,2,0,0,8,0,0
1,2016,4,HH,60764,1,1,0,0,2,48,...,0,0,0,1,1,0,1,1,0,0
2,2016,4,HH,60768,2,0,0,0,24,123,...,0,1,0,1,1,0,2,0,0,0
3,2016,4,HH,63791,0,10,0,0,32,181,...,0,0,2,5,5,0,0,10,0,0
4,2016,4,HH,65764,3,1,0,0,22,192,...,0,0,0,1,3,0,3,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5299,2020,7,WO,68341,0,9,0,3,24,152,...,2,2,0,5,4,0,2,7,0,0
5300,2020,7,WO,69343,3,0,0,0,60,293,...,0,1,0,2,1,0,0,1,0,2
5301,2020,7,WO,69360,1,0,0,0,2,24,...,0,0,0,1,0,0,0,1,0,0
5302,2020,7,WO,69399,0,2,0,0,10,70,...,1,1,0,1,1,0,0,2,0,0
5303,2020,7,WO,76430,0,7,0,1,19,96,...,1,1,0,3,4,0,0,6,0,1

In [11]:
df1 = pd.read_csv('../../data/pitcher_볼넷당삼진.csv', index_col=0)
df1

         KBB
1      1.800
2      0.000
3      1.000
4      2.200
5      0.750
...      ...
5300   1.375
5301  11.000
5302   0.000
5303   0.000
5304   1.000

[5304 rows x 1 columns]

In [12]:
data['KBB'] = df1['KBB']

In [13]:
df2 = pd.read_csv('../../data/pitcher_AVG_OBP_SLG_OPS.csv', index_col=0)
df2

,year,month,T_ID,P_ID,START_CK,RELIEF_CK,CG_CK,HOLD,INN2,BF,...,TB_SC_T,WLS_D,WLS_L,WLS_ND,WLS_S,WLS_W,AVG,OBP,SLG,OPS
0,2016,4,HH,60757,0,8,0,0,30,195,...,2,0,0,8,0,0,0.372093,0.437500,0.581395,1.018895
1,2016,4,HH,60764,1,1,0,0,2,48,...,1,0,1,1,0,0,0.500000,0.875000,0.500000,1.375000
2,2016,4,HH,60768,2,0,0,0,24,123,...,1,0,2,0,0,0,0.258065,0.323529,0.483871,0.807400
3,2016,4,HH,63791,0,10,0,0,32,181,...,5,0,0,10,0,0,0.225000,0.311111,0.275000,0.586111
4,2016,4,HH,65764,3,1,0,0,22,192,...,3,0,3,1,0,0,0.428571,0.534884,0.657143,1.192027
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5299,2020,7,WO,68341,0,9,0,3,24,152,...,4,0,2,7,0,0,0.200000,0.368421,0.300000,0.668421
5300,2020,7,WO,69343,3,0,0,0,60,293,...,1,0,0,1,0,2,0.293333,0.311688,0.373333,0.685022
5301,2020,7,WO,69360,1,0,0,0,2,24,...,0,0,0,1,0,0,0.600000,0.714286,0.800000,1.514286
5302,2020,7,WO,69399,0,2,0,0,10,70,...,1,0,0,2,0,0,0.529412,0.550000,0.588235,1.138235
5303,2020,7,WO,76430,0,7,0,1,19,96,...,4,0,0,6,0,1,0.173913,0.240000,0.217391,0.457391

In [14]:
data['AVG'] = df2['AVG']
data['OBP'] = df2['OBP']
data['SLG'] = df2['SLG']
data['OPS'] = df2['OPS']
data

,year,month,T_ID,P_ID,START_CK,RELIEF_CK,CG_CK,HOLD,INN2,BF,...,WLS_D,WLS_L,WLS_ND,WLS_S,WLS_W,KBB,AVG,OBP,SLG,OPS
0,2016,4,HH,60757,0,8,0,0,30,195,...,0,0,8,0,0,NaN,0.372093,0.437500,0.581395,1.018895
1,2016,4,HH,60764,1,1,0,0,2,48,...,0,1,1,0,0,1.800,0.500000,0.875000,0.500000,1.375000
2,2016,4,HH,60768,2,0,0,0,24,123,...,0,2,0,0,0,0.000,0.258065,0.323529,0.483871,0.807400
3,2016,4,HH,63791,0,10,0,0,32,181,...,0,0,10,0,0,1.000,0.225000,0.311111,0.275000,0.586111
4,2016,4,HH,65764,3,1,0,0,22,192,...,0,3,1,0,0,2.200,0.428571,0.534884,0.657143,1.192027
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5299,2020,7,WO,68341,0,9,0,3,24,152,...,0,2,7,0,0,1.400,0.200000,0.368421,0.300000,0.668421
5300,2020,7,WO,69343,3,0,0,0,60,293,...,0,0,1,0,2,1.375,0.293333,0.311688,0.373333,0.685022
5301,2020,7,WO,69360,1,0,0,0,2,24,...,0,0,1,0,0,11.000,0.600000,0.714286,0.800000,1.514286
5302,2020,7,WO,69399,0,2,0,0,10,70,...,0,0,2,0,0,0.000,0.529412,0.550000,0.588235,1.138235
5303,2020,7,WO,76430,0,7,0,1,19,96,...,0,0,6,0,1,0.000,0.173913,0.240000,0.217391,0.457391

In [15]:
data.to_csv('../../data/pitcher_all.csv')