# 빅콘테스트 퓨처스리그 : KBO 정규시즌 팀별 승률, 타율, 방어율 예측

2020.08.11 화요일 김채형

# Preprocessing

## 파생변수 생성하기 - 타율, 출루율, 장타율, OPS (with fitcher.csv)

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../../data/pitcher.csv')
data

,year,month,T_ID,P_ID,START_CK,RELIEF_CK,CG_CK,HOLD,INN2,BF,...,VS_T_ID_SK,VS_T_ID_SS,VS_T_ID_WO,TB_SC_B,TB_SC_T,WLS_D,WLS_L,WLS_ND,WLS_S,WLS_W
0,2016,4,HH,60757,0,8,0,0,30,195,...,0,0,2,6,2,0,0,8,0,0
1,2016,4,HH,60764,1,1,0,0,2,48,...,0,0,0,1,1,0,1,1,0,0
2,2016,4,HH,60768,2,0,0,0,24,123,...,0,1,0,1,1,0,2,0,0,0
3,2016,4,HH,63791,0,10,0,0,32,181,...,0,0,2,5,5,0,0,10,0,0
4,2016,4,HH,65764,3,1,0,0,22,192,...,0,0,0,1,3,0,3,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5299,2020,7,WO,68341,0,9,0,3,24,152,...,2,2,0,5,4,0,2,7,0,0
5300,2020,7,WO,69343,3,0,0,0,60,293,...,0,1,0,2,1,0,0,1,0,2
5301,2020,7,WO,69360,1,0,0,0,2,24,...,0,0,0,1,0,0,0,1,0,0
5302,2020,7,WO,69399,0,2,0,0,10,70,...,1,1,0,1,1,0,0,2,0,0
5303,2020,7,WO,76430,0,7,0,1,19,96,...,1,1,0,3,4,0,0,6,0,1

In [3]:
df = data.copy()

In [4]:
# 타율
df['AVG'] = df['HIT'] / df['AB']

In [5]:
df['AVG'] = df['AVG'].fillna(0)

In [6]:
# 출루율
df['OBP'] = (df['HIT'] + df['BB'] + df['HP']) / (df['AB'] + df['BB'] + df['HP'] + df['SF'])

In [7]:
df['OBP'] = df['OBP'].fillna(0)

In [8]:
# 장타율
df['SLG'] = ((df['HIT'] - df['H2'] - df['H3'] - df['HR'])*1 + df['H2']*2 + df['H3']*3 + df['HR']*4) / df['AB']

In [9]:
df['SLG'] = df['SLG'].fillna(0)

In [10]:
# OPS
df['OPS'] = df['OBP'] + df['SLG']

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5304 entries, 0 to 5303
Data columns (total 51 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        5304 non-null   int64
 1   month       5304 non-null   int64
 2   T_ID        5304 non-null   object
 3   P_ID        5304 non-null   int64
 4   START_CK    5304 non-null   int64
 5   RELIEF_CK   5304 non-null   int64
 6   CG_CK       5304 non-null   int64
 7   HOLD        5304 non-null   int64
 8   INN2        5304 non-null   int64
 9   BF          5304 non-null   int64
 10  PA          5304 non-null   int64
 11  AB          5304 non-null   int64
 12  HIT         5304 non-null   int64
 13  H2          5304 non-null   int64
 14  H3          5304 non-null   int64
 15  HR          5304 non-null   int64
 16  SB          5304 non-null   int64
 17  CS          5304 non-null   int64
 18  SH          5304 non-null   int64
 19  SF          5304 non-null   int64
 20  BB          5304 non-null   int64
 21  IB          5304 non-null   int64
 22  HP          5304 non-null   int64
 23  KK          5304 non-null   int64
 24  GD          5304 non-null   int64
 25  WP          5304 non-null   int64
 26  BK          5304 non-null   int64
 27  ERR         5304 non-null   int64
 28  R           5304 non-null   int64
 29  ER          5304 non-null   int64
 30  VS_T_ID_HH  5304 non-null   int64
 31  VS_T_ID_HT  5304 non-null   int64
 32  VS_T_ID_KT  5304 non-null   int64
 33  VS_T_ID_LG  5304 non-null   int64
 34  VS_T_ID_LT  5304 non-null   int64
 35  VS_T_ID_NC  5304 non-null   int64
 36  VS_T_ID_OB  5304 non-null   int64
 37  VS_T_ID_SK  5304 non-null   int64
 38  VS_T_ID_SS  5304 non-null   int64
 39  VS_T_ID_WO  5304 non-null   int64
 40  TB_SC_B     5304 non-null   int64
 41  TB_SC_T     5304 non-null   int64
 42  WLS_D       5304 non-null   int64
 43  WLS_L       5304 non-null   int64
 44  WLS_ND      5304 non-null   int64
 45  WLS_S       5304 non-null   int64
 46  WLS_W       5304 non-null   int64
 47  AVG         5304 non-null   float64
 48  OBP         5304 non-null   float64
 49  SLG         5304 non-null   float64
 50  OPS         5304 non-null   float64
dtypes: float64(4), int64(46), object(1)
memory usage: 2.1+ MB

In [12]:
df.to_csv('../../data/pitcher_AVG_OBP_SLG_OPS.csv')