In [38]:
import pandas as pd

In [39]:
df = pd.read_csv("C:\\Users\\dhxog\\Desktop\\ESC_summer\\big_contest\\batter.csv")

In [40]:
df = pd.get_dummies(df, columns=['VS_T_ID', 'TB_SC', 'BAT_ORDER_NO'])

In [41]:
df.columns

Index(['year', 'month', 'T_ID', 'P_ID', 'PA', 'AB', 'RBI', 'RUN', 'HIT', 'H2',
       'H3', 'HR', 'SB', 'CS', 'SH', 'SF', 'BB', 'IB', 'HP', 'KK', 'GD', 'ERR',
       'LOB', 'P_AB_CN', 'P_HIT_CN', 'VS_T_ID_HH', 'VS_T_ID_HT', 'VS_T_ID_KT',
       'VS_T_ID_LG', 'VS_T_ID_LT', 'VS_T_ID_NC', 'VS_T_ID_OB', 'VS_T_ID_SK',
       'VS_T_ID_SS', 'VS_T_ID_WO', 'TB_SC_B', 'TB_SC_T', 'BAT_ORDER_NO_1',
       'BAT_ORDER_NO_2', 'BAT_ORDER_NO_3', 'BAT_ORDER_NO_4', 'BAT_ORDER_NO_5',
       'BAT_ORDER_NO_6', 'BAT_ORDER_NO_7', 'BAT_ORDER_NO_8', 'BAT_ORDER_NO_9'],
      dtype='object')

In [42]:
columns = ['year', 'month', 'T_ID', 'P_ID']

In [43]:
df = df.groupby(columns).sum().reset_index(drop = False)

In [44]:
df

,year,month,T_ID,P_ID,PA,AB,RBI,RUN,HIT,H2,...,TB_SC_T,BAT_ORDER_NO_1,BAT_ORDER_NO_2,BAT_ORDER_NO_3,BAT_ORDER_NO_4,BAT_ORDER_NO_5,BAT_ORDER_NO_6,BAT_ORDER_NO_7,BAT_ORDER_NO_8,BAT_ORDER_NO_9
0,2016,4,HH,60404,12,12,1,0,2,0,...,4,0,0,1,1,1,0,0,1,3
1,2016,4,HH,60667,10,9,2,1,3,1,...,4,0,0,1,0,0,0,2,3,2
2,2016,4,HH,60757,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,2016,4,HH,60805,1,0,0,1,0,0,...,0,0,1,0,0,0,0,1,0,0
4,2016,4,HH,61700,36,31,2,6,6,1,...,7,0,3,0,2,0,3,3,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6929,2020,7,WO,69306,5,5,0,2,1,1,...,2,3,0,0,2,0,0,1,0,0
6930,2020,7,WO,75125,67,57,15,11,15,1,...,9,0,0,0,16,0,0,0,1,0
6931,2020,7,WO,78168,78,68,4,15,20,3,...,9,16,0,1,0,0,0,0,0,0
6932,2020,7,WO,79365,43,41,5,4,10,3,...,5,0,0,0,0,5,5,1,0,0
6933,2020,7,WO,79456,52,47,3,5,17,1,...,8,1,1,0,1,5,4,2,0,1

In [46]:
df.to_csv("batter.csv", index = False)