In [108]:
import pandas as pd

In [109]:
schedule = pd.read_csv("C:\\Users\\dhxog\\Desktop\\ESC_summer\\Baseball_ChilliShrimp\\data/schedule.csv")
before = pd.read_csv("C:\\Users\\dhxog\\Desktop\\ESC_summer\\Baseball_ChilliShrimp\\data/before_0719.csv")

In [110]:
schedule = schedule.rename(columns = {'APP_T_ID':'VS_T_ID'})
before = before.rename(columns = {'APP_T_ID':'VS_T_ID'})

In [111]:
schedule = pd.get_dummies(schedule, columns=['VS_T_ID', 'H_A'])
before = pd.get_dummies(before, columns=['VS_T_ID', 'H_A'])

In [112]:
schedule = schedule.groupby(['year', 'month', 'T_ID']).sum()

In [113]:
schedule

                 VS_T_ID_HH  VS_T_ID_HT  VS_T_ID_KT  VS_T_ID_LG  VS_T_ID_LT  \
year month T_ID
2020 7     HH             0           2           0           1           0
           HT             2           0           1           0           1
           KT             0           1           0           1           0
           LG             1           0           1           0           0
           LT             0           1           0           0           0
           NC             0           0           3           0           1
           OB             0           0           0           3           0
           SK             3           0           1           3           1
           SS             2           2           0           0           0
           WO             0           0           0           0           3
     8     HH             0           0           3           3           2
           HT             0           0           2           8           2
           KT             3           2           0           2           0
           LG             3           8           2           0           0
           LT             2           2           0           0           0
           NC             4           4           2           3           2
           OB             0           2           3           2           6
           SK             2           5           4           0           4
           SS             5           0           2           2           2
           WO             3           2           5           5           5
     9     HH             0           4           2           2           2
           HT             4           0           2           2           5
           KT             2           2           0           2           4
           LG             2           2           2           0           6
           LT             2           5           4           6           0
           NC             2           2           2           4           5
           OB             6           2           4           2           0
           SK             2           2           5           4           2
           SS             3           4           4           2           2
           WO             4           4           2           2           2
     10    HH             0           4           0           0           3
           HT             4           0           0           3           0
           KT             0           0           0           4           3
           LG             0           3           4           0           4
           LT             3           0           3           4           0
           NC             0           3           0           4           3
           OB             4           3           3           0           0
           SK             0           3           3           0           0
           SS             3           0           1           3           3
           WO             3           1           3           0           0

                 VS_T_ID_NC  VS_T_ID_OB  VS_T_ID_SK  VS_T_ID_SS  VS_T_ID_WO  \
year month T_ID
2020 7     HH             0           0           3           2           0
           HT             0           0           0           2           0
           KT             3           0           1           0           0
           LG             0           3           3           0           0
           LT             1           0           1           0           3
           NC             0           1           0           1           0
           OB             1           0           0           0           3
           SK             0           0           0           0           0
           SS             1           0           0           0           1
           WO             0           3           0           1           0
     8     HH             4           0           2           5           3
           HT             4           2           5           0           2
           KT             2           3           4           2           5
           LG             3           2           0           2           5
           LT             2           6           4           2           5
           NC             0           4           2           0           2
           OB             4           0           2           6           0
           SK             2           2           0           4           0
           SS             0           6           4           0           4
           WO             2           0           0           4           0
     9     HH             2           6           2           3           4
           HT             2           2           2           4           4
           KT             2           4           5           4           2
           LG             4           2           4           2           2
           LT             5           0           2           2           2
           NC             0           2           4           4           2
           OB             2           0           2           4           5
           SK             4           2           0           2           4
           SS             4           4           2           0           2
           WO             2           5           4           2           0
     10    HH             0           4           0           3           3
           HT             3           3           3           0           1
           KT             0           3           3           1           3
           LG             4           0           0           3           0
           LT             3           0           0           3           0
           NC             0           0           1           4           3
           OB             0           0           3           0           3
           SK             1           3           0           3           3
           SS             4           0           3           0           0
           WO             3           3           3           0           0

                 H_A_AWAY  H_A_HOME
year month T_ID
2020 7     HH           3         5
           HT           3         3
           KT           1         5
           LG           7         1
           LT           4         2
           NC           4         2
           OB           1         6
           SK           4         4
           SS           3         3
           WO           4         3
     8     HH          12        10
           HT          13        12
           KT          15         8
           LG          13        12
           LT           8        15
           NC          10        13
           OB          13        12
           SK          11        12
           SS          14        11
           WO          11        15
     9     HH          11        16
           HT          13        14
           KT          12        15
           LG          14        12
           LT          16        12
           NC          15        12
           OB          12        15
           SK          17        10
           SS          12        15
           WO          13        14
     10    HH          10         7
           HT          10         7
           KT           7        10
           LG           7        11
           LT           7         9
           NC           7        11
           OB          10         6
           SK           7         9
           SS          10         7
           WO           9         7

In [114]:
schedule = schedule.drop(columns = ['H_A_AWAY', 'H_A_HOME'])

In [115]:
schedule

                 VS_T_ID_HH  VS_T_ID_HT  VS_T_ID_KT  VS_T_ID_LG  VS_T_ID_LT  \
year month T_ID
2020 7     HH             0           2           0           1           0
           HT             2           0           1           0           1
           KT             0           1           0           1           0
           LG             1           0           1           0           0
           LT             0           1           0           0           0
           NC             0           0           3           0           1
           OB             0           0           0           3           0
           SK             3           0           1           3           1
           SS             2           2           0           0           0
           WO             0           0           0           0           3
     8     HH             0           0           3           3           2
           HT             0           0           2           8           2
           KT             3           2           0           2           0
           LG             3           8           2           0           0
           LT             2           2           0           0           0
           NC             4           4           2           3           2
           OB             0           2           3           2           6
           SK             2           5           4           0           4
           SS             5           0           2           2           2
           WO             3           2           5           5           5
     9     HH             0           4           2           2           2
           HT             4           0           2           2           5
           KT             2           2           0           2           4
           LG             2           2           2           0           6
           LT             2           5           4           6           0
           NC             2           2           2           4           5
           OB             6           2           4           2           0
           SK             2           2           5           4           2
           SS             3           4           4           2           2
           WO             4           4           2           2           2
     10    HH             0           4           0           0           3
           HT             4           0           0           3           0
           KT             0           0           0           4           3
           LG             0           3           4           0           4
           LT             3           0           3           4           0
           NC             0           3           0           4           3
           OB             4           3           3           0           0
           SK             0           3           3           0           0
           SS             3           0           1           3           3
           WO             3           1           3           0           0

                 VS_T_ID_NC  VS_T_ID_OB  VS_T_ID_SK  VS_T_ID_SS  VS_T_ID_WO
year month T_ID
2020 7     HH             0           0           3           2           0
           HT             0           0           0           2           0
           KT             3           0           1           0           0
           LG             0           3           3           0           0
           LT             1           0           1           0           3
           NC             0           1           0           1           0
           OB             1           0           0           0           3
           SK             0           0           0           0           0
           SS             1           0           0           0           1
           WO             0           3           0           1           0
     8     HH             4           0           2           5           3
           HT             4           2           5           0           2
           KT             2           3           4           2           5
           LG             3           2           0           2           5
           LT             2           6           4           2           5
           NC             0           4           2           0           2
           OB             4           0           2           6           0
           SK             2           2           0           4           0
           SS             0           6           4           0           4
           WO             2           0           0           4           0
     9     HH             2           6           2           3           4
           HT             2           2           2           4           4
           KT             2           4           5           4           2
           LG             4           2           4           2           2
           LT             5           0           2           2           2
           NC             0           2           4           4           2
           OB             2           0           2           4           5
           SK             4           2           0           2           4
           SS             4           4           2           0           2
           WO             2           5           4           2           0
     10    HH             0           4           0           3           3
           HT             3           3           3           0           1
           KT             0           3           3           1           3
           LG             4           0           0           3           0
           LT             3           0           0           3           0
           NC             0           0           1           4           3
           OB             0           0           3           0           3
           SK             1           3           0           3           3
           SS             4           0           3           0           0
           WO             3           3           3           0           0

In [117]:
before = before.groupby(['year', 'month', 'T_ID']).sum()

In [119]:
before = before.drop(columns=['H_A_AWAY', 'H_A_HOME'])

In [122]:
gamed = before.groupby(['T_ID']).sum()

In [123]:
future = schedule.groupby(['T_ID']).sum()

In [124]:
gamed

,VS_T_ID_HH,VS_T_ID_HT,VS_T_ID_KT,VS_T_ID_LG,VS_T_ID_LT,VS_T_ID_NC,VS_T_ID_OB,VS_T_ID_SK,VS_T_ID_SS,VS_T_ID_WO
T_ID,,,,,,,,,,
HH,0,5,9,9,9,9,6,9,3,6
HT,5,0,9,3,7,5,9,6,9,9
KT,9,9,0,6,9,9,5,3,8,6
LG,9,3,6,0,6,4,9,9,9,9
LT,9,7,9,6,0,3,8,5,9,6
NC,9,5,9,4,3,0,9,9,6,9
OB,6,9,5,9,8,9,0,9,6,3
SK,9,6,3,9,5,9,9,0,6,9
SS,3,9,8,9,9,6,6,6,0,9
WO,6,9,6,9,6,9,3,9,9,0

In [125]:
future

,VS_T_ID_HH,VS_T_ID_HT,VS_T_ID_KT,VS_T_ID_LG,VS_T_ID_LT,VS_T_ID_NC,VS_T_ID_OB,VS_T_ID_SK,VS_T_ID_SS,VS_T_ID_WO
T_ID,,,,,,,,,,
HH,0,10,5,6,7,6,10,7,13,10
HT,10,0,5,13,8,9,7,10,6,7
KT,5,5,0,9,7,7,10,13,7,10
LG,6,13,9,0,10,11,7,7,7,7
LT,7,8,7,10,0,11,6,7,7,10
NC,6,9,7,11,11,0,7,7,9,7
OB,10,7,10,7,6,7,0,7,10,11
SK,7,10,13,7,7,7,7,0,9,7
SS,13,6,7,7,7,9,10,9,0,7
WO,10,7,10,7,10,7,11,7,7,0

In [127]:
not_suspended_game = gamed + future

In [128]:
all_game = not_suspended_game.copy() * 0

In [132]:
all_game = all_game + 16

In [135]:
game_left = all_game - not_suspended_game

In [137]:
game_left[game_left == 16] = 0

In [138]:
game_left

,VS_T_ID_HH,VS_T_ID_HT,VS_T_ID_KT,VS_T_ID_LG,VS_T_ID_LT,VS_T_ID_NC,VS_T_ID_OB,VS_T_ID_SK,VS_T_ID_SS,VS_T_ID_WO
T_ID,,,,,,,,,,
HH,0,1,2,1,0,1,0,0,0,0
HT,1,0,2,0,1,2,0,0,1,0
KT,2,2,0,1,0,0,1,0,1,0
LG,1,0,1,0,0,1,0,0,0,0
LT,0,1,0,0,0,2,2,4,0,0
NC,1,2,0,1,2,0,0,0,1,0
OB,0,0,1,0,2,0,0,0,0,2
SK,0,0,0,0,4,0,0,0,1,0
SS,0,1,1,0,0,1,0,1,0,0
WO,0,0,0,0,0,0,2,0,0,0

In [145]:
schedule_left = schedule[:-10].append(schedule[-10:] + game_left)

In [147]:
schedule_left.to_csv('../../data/schedule_left.csv')